---
import { render, type CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import { getPublishedCollection } from "@lib/collections";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";
import { getProjectOGData } from "@lib/opengraph";
import { renderInlineMarkdown } from "@lib/markdown";

export async function getStaticPaths() {
  const projects = await getPublishedCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.id },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { Content } = await render(project);

const ogData = getProjectOGData(project, Astro.url.toString(), Astro.site?.toString() || "");
const renderedTitle = renderInlineMarkdown(project.data.title);
---

<PageLayout title={project.data.title} description={project.data.description} ogData={ogData}>
  <Container>
    <div>
      <BackToPrev href="/projects">
        Back to projects
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={project.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(project.body ?? "")}
        </div>
      </div>
      <h1 class="text-2xl font-semibold text-fg-strong" set:html={renderedTitle}></h1>
      {(project.data.demoURL || project.data.repoURL) && (
        <nav class="flex gap-1">
          {project.data.demoURL && (
            <Link href={project.data.demoURL} external>
              demo
            </Link>
          )}
          {project.data.demoURL && project.data.repoURL && (
            <span>/</span>
          )}
          {project.data.repoURL && (
            <Link href={project.data.repoURL} external>
              repo
            </Link>
          )}
        </nav>
      )}
    </div>
    <article>
      <Content />
    </article>
  </Container>
</PageLayout>